
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab"  href="/Administrador" role="tab" aria-controls="v-pills-home" aria-selected="true">Usuarios</a>
        <a class="nav-link" id="v-pills-profile-tab"  href="/cliente" role="tab" aria-controls="v-pills-profile" aria-selected="false">Clientes</a>
        <a class="nav-link" id="v-pills-messages-tab"  href="/servicios" role="tab" aria-controls="v-pills-messages" aria-selected="false">Productos</a>
        <a class="nav-link" id="v-pills-settings-tab"  href="/ventas" role="tab" aria-controls="v-pills-settings" aria-selected="false">Ventas</a>
      </div>
    </div>
   
 
