<style>
  #accordionSidebar {
    transition: 1s;
  }
</style>

<section id="main">

  <div id="wrapper">
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div>
            <h1 class="h3 mb-0 text-gray-800 text-center">Bienvenido</h1>

          </div>


          <div class="container-fluid">

            <!-- Page Heading -->

            <p class="mb-4">Acá puede Crear Usuarios</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

              <div class="card-body">
                <div class="table-responsive">

                  <div class="table-responsive">
                    <h4>Productos</h4>

                    <div class="btn-group" role="group" aria-label="Basic example"
                      *ngFor="let datmovimiento of datosTipoMovimiento">
                      <button *ngIf="datmovimiento.tipo =='Entrada'" type="button" data-toggle="modal"
                        data-target="#comprar" (click)="servicio(datmovimiento.tipo, datmovimiento.idtipomovimiento)"
                        class="btn btn-info">Nuevo Producto</button>
                    </div>
                    <br />
                    <br />
                    <h1 style="text-align: center;">Entrada y Salida de productos</h1>
                    <div class="table-responsive" id="table">
                      <table class="table table-striped" id="tableServicios">
                        <thead>
                          <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Precio Entrada</th>
                            <th scope="col">Precio Salida</th>
                            <th scope="col">Cant</th>
                            <th scope="col">Fecha Registro</th>
                            <th scope="col">Descripcion Pro</th>
                            <th scope="col">Observacion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let datmovimientos of  datosMovimientos">
                            <th scope="row">{{datmovimientos.producto.tipo.nombre}}</th>
                            <td>{{datmovimientos.producto.marca.nombre}}</td>
                            <td>{{datmovimientos.precioentrada}}</td>
                            <td>{{datmovimientos.preciosalida}}</td>
                            <td>{{datmovimientos.cantidad}}</td>
                            <td>{{datmovimientos.fecha}}</td>
                            <td>{{datmovimientos.producto.descripcion}}</td>
                            <td>{{datmovimientos.observacion}}</td>
                          </tr>
                        </tbody>
                      </table>
                    
                    </div>
                    <form #projectForm="ngForm" (ngSubmit)="registermovimientoentrada($event)">
                      <div class="modal fade" id="comprar" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Digite los datos solicitados</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              
                              <div class="form-row">
                                <div class="form-group col-md-12">
                                  <label for="codigo">Codigo</label>
                                  <input name="codigo" #codigo="ngModel"
                                    [(ngModel)]="registrarmovimiento.producto.codigo" (keyup)="validarCodigo()" type="text" class="form-control"
                                    id="codigo">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6" id="tipi">
                                  <label for="tipo">Tipo</label>
                                  <select name="tipo" #tipo="ngModel"
                                    [(ngModel)]="registrarmovimiento.producto.tipo.idtipo" (change)="nuevaMarcaYoTipo()"
                                    id="tipo" class="form-control">
                                    <option *ngFor="let tipo of datosTipo" value="{{tipo.idtipo}}">{{tipo.nombre}}
                                    </option>
                                    <option value="7089078790676">Nuevo Tipo</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-6" style="display: none;" id="tip">
                                  <label for="codigo">Tipo</label>
                                  <input name="tip" #tip="ngModel"
                                    [(ngModel)]="registrarmovimiento.producto.tipo.nombre" type="text"
                                    class="form-control" id="tip">
                                </div>
                                <div class="form-group col-md-6" style="display: none;" id="tipexiste">
                                  <label for="codigo">Tipo</label>
                                  <input name="tipexisteinput" type="text"
                                    class="form-control" id="tipexisteinput" value="{{datosValidarCodigo.tipo.nombre}}">
                                </div>
                                <div class="form-group col-md-6" id="marcas">
                                  <label for="marca">Marca</label>
                                  <select name="marca" #marca="ngModel"
                                    [(ngModel)]="registrarmovimiento.producto.marca.idmarca" id="marca"
                                    (change)="nuevaMarcaYoTipo()" class="form-control">
                                    <option *ngFor="let marca of datosMarca" value="{{marca.idmarca}}">{{marca.nombre}}
                                    </option>
                                    <option value="7089078790676">Nueva Marca</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-6" style="display: none;" id="mar">
                                  <label for="codigo">Marca</label>
                                  <input name="mar" #mar="ngModel"
                                    [(ngModel)]="registrarmovimiento.producto.marca.nombre" type="text"
                                    class="form-control" id="mar">
                                </div>
                                <div class="form-group col-md-6" style="display: none;" id="marcaexiste">
                                  <label for="codigo">Marca</label>
                                  <input name="marcaexisteinput" type="text"
                                    class="form-control" id="marcaexisteinput" value="{{datosValidarCodigo.marca.nombre}}">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="cantidad">Cantidad</label>
                                  <input name="cantidad" #cantidad="ngModel"
                                    [(ngModel)]="registrarmovimiento.producto.cantidad" type="text" class="form-control"
                                    id="cantidad">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="precio">Precio</label>
                                  <input name="precio" #precio="ngModel" [(ngModel)]="registrarmovimiento.precioentrada"
                                    type="number" class="form-control" id="precio">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="descripcion">Descripcion Producto</label>
                                  <textarea name="descripcion" #descripcion="ngModel"
                                    [(ngModel)]="registrarmovimiento.producto.descripcion" type="text"
                                    class="form-control" id="descripcion"></textarea>
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="observacion">Obervación</label>
                                  <textarea name="observacion" #observacion="ngModel"
                                    [(ngModel)]="registrarmovimiento.observacion" type="text" class="form-control"
                                    id="observacion"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- End of Main Content -->
                  <!-- Footer -->
                  <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                      <div class="copyright text-center my-auto">
                        <span>Copyright &copy; </span>
                      </div>
                    </div>
                  </footer>
                  <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

              </div>
              <!-- End of Page Wrapper -->
              <!-- Scroll to Top Button-->
              <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
              </a>
