<style>
#accordionSidebar {
transition: 1s;
}
</style>

<section id="main">

<div id="wrapper">
<app-lateral></app-lateral>
<!-- End of Sidebar -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

<!-- Main Content -->
<div id="content">
<app-nav></app-nav>
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div>
      <h1 class="h3 mb-0 text-gray-800 text-center">Bienvenido</h1>

    </div>


    <div class="container-fluid">

      <!-- Page Heading -->

      <p class="mb-4">Acá puede Crear Usuarios</p>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">

        <div class="card-body">
          <div class="table-responsive">

            <div class="table-responsive">
              <h4>Usuario</h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Crear Usuario
              </button>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                  <span>Copyright &copy; </span>
                </div>
              </div>
            </footer>
            <!-- End of Footer -->

          </div>
          <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <form #projectForm="ngForm" (ngSubmit)="registroUsuario($event)">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" name="nombres"
                           onkeyup="javascript:this.value=this.value.toUpperCase();" #nombres="ngModel"
                           [(ngModel)]="usuarioDatos.nombres" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="apellidos"
                           onkeyup="javascript:this.value=this.value.toUpperCase();" #apellidos="ngModel"
                           [(ngModel)]="usuarioDatos.apellidos" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Celular *</label>
                    <input type="number" name="celular" #celular="ngModel"
                           [(ngModel)]="usuarioDatos.celular" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Telefono *</label>
                    <input type="number" name="telefono" #telefono="ngModel"
                           [(ngModel)]="usuarioDatos.telefono" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Direccion </label>
                    <input type="text" name="direccion" #direccion="ngModel"
                           [(ngModel)]="usuarioDatos.direccion" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Correo </label>
                    <input type="email" name="correo" #correo="ngModel"
                           [(ngModel)]="usuarioDatos.correo" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Seleccione Rol</label>
                    <select class="form-control" name="idrol" #idrol="ngModel"
                            [(ngModel)]="usuarioDatos.rol.idrol">
                      <option>Seleccione</option>
                      <option *ngFor="let rol of listaRol" value="{{rol.idrol}}" id="valor">
                        {{rol.nombre}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Validar">
                </div>
              </div>
            </div>
          </form>
        </div>
