<style>
  #accordionSidebar {
    transition: 1s;
  }
</style>

<section id="main">

  <div id="wrapper">
    <app-lateral></app-lateral>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <app-nav></app-nav>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div>
            <h1 class="h3 mb-0 text-gray-800 text-center">Bienvenido</h1>

          </div>


          <div class="container-fluid">

            <!-- Page Heading -->

            <p class="mb-4">Acá puede Crear Usuarios</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">

              <div class="card-body">
                <div class="table-responsive">

                  <div class="table-responsive">
                    <h4>Ventas Productos</h4>
                    <div class="row">
                      <div class="col-9">
                        <div class="row">
                          <div class="card col-md-4" *ngFor="let datmovimientos of  datosMovimientos">
                            <div class="card-body">
                              <h5 class="card-title">Marca: {{datmovimientos.producto.marca.nombre}}</h5>
                              <hr />
                              <h5 class="card-title">Tipo: {{datmovimientos.producto.tipo.nombre}}</h5>
                              <hr />
                              <h5 class="card-title">Precio: {{datmovimientos.precioentrada}}</h5>
                              <hr />
                              <h5 class="card-title">Cantidad Disponible: {{datmovimientos.producto.cantidad}}</h5>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted"><button class="btn btn-success" (click)="venta(datmovimientos)"
                                  type="button" data-toggle="modal" data-target="#venta">Continuar</button></small>
                            </div>
                            <!--Modal Venta-->
                            <div class="modal fade" id="venta" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Digite los datos solicitados</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="form-group">
                                      <label for="tipo">Tipo Producto</label>
                                      <span class="form-control">{{productSeleccionado.producto.tipo.nombre}}</span>
                                    </div>
                                    <div class="form-group">
                                      <label for="marca">Marca</label>
                                      <span class="form-control">{{productSeleccionado.producto.marca.nombre}}</span>
                                    </div>
                                    <div class="form-group">
                                      <label for="candisponible">Cantidad Disponible</label>
                                      <span class="form-control">{{productSeleccionado.producto.cantidad}}</span>
                                    </div>
                                    <div class="form-group">
                                      <label for="candisponible">Precio</label>
                                      <span class="form-control">{{productSeleccionado.precioentrada}}</span>
                                    </div>
                                    <div class="form-group">
                                      <label for="cantidad">Cantidad Solicitada</label>
                                      <input name="cantidad" type="text" class="form-control" id="cantidad">
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" (click)="cantidadSeleccionada()" data-dismiss="modal"
                                      class="btn btn-primary">Guardar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-3" *ngIf="productSeleccionado" style="display: none;" id="productosseleccionados">
                        <h4>Productos Seleccionado</h4>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Cantidad</th>
                              <th scope="col">Tipo</th>
                              <th scope="col">Marca</th>
                              <th scope="col">Precio Unitario</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dat of listaPorductosSeleccionados">
                              <th scope="row">{{dat.cantidad}}</th>
                              <td>{{dat.producto.tipo.nombre}}</td>
                              <td>{{dat.producto.marca.nombre}}</td>
                              <td>{{dat.precioentrada}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        <button type="button" class="btn btn-primary" (click)="finalizar()">Finalizar</button>
                      </div>
                    </div>
                  </div>
                 
                  <!-- End of Main Content -->
                  <!-- Footer -->
                  <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                      <div class="copyright text-center my-auto">
                        <span>Copyright &copy; </span>
                      </div>
                    </div>
                  </footer>
                  <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

              </div>
              <!-- End of Page Wrapper -->
              <!-- Scroll to Top Button-->
              <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
              </a>